In [8]:
from linearmodels.datasets import jobtraining
data = jobtraining.load()
data.head()

,year,fcode,employ,sales,avgsal,scrap,rework,tothrs,union,grant,...,grant_1,clscrap,cgrant,clemploy,clsales,lavgsal,clavgsal,cgrant_1,chrsemp,clhrsemp
0,1987,410032,100.0,47000000.0,35000.0,NaN,NaN,12.0,0,0,...,0,NaN,0,NaN,NaN,10.463100,NaN,NaN,NaN,NaN
1,1988,410032,131.0,43000000.0,37000.0,NaN,NaN,8.0,0,0,...,0,NaN,0,0.270027,-0.088949,10.518670,0.055570,0.0,-8.946565,-1.165385
2,1989,410032,123.0,49000000.0,39000.0,NaN,NaN,8.0,0,0,...,0,NaN,0,-0.063013,0.130621,10.571320,0.052644,0.0,0.198597,0.047832
3,1987,410440,12.0,1560000.0,10500.0,NaN,NaN,12.0,0,0,...,0,NaN,0,NaN,NaN,9.259130,NaN,NaN,NaN,NaN
4,1988,410440,13.0,1970000.0,11000.0,NaN,NaN,12.0,0,0,...,0,NaN,0,0.080043,0.233347,9.305651,0.046520,0.0,0.000000,0.000000

In [15]:
import pandas as pd
from linearmodels.datasets import jobtraining

data = jobtraining.load()
mi_data = data.set_index(["fcode", "year"])
year_str = mi_data.reset_index()['year'].astype(str)
year_cat = pd.Categorical(year_str.iloc[:])
year_str.index = mi_data.index
year_cat.index = mi_data.index
mi_data["year_str"] = year_str
mi_data["year_cat"] = year_cat

mi_data.head()

             employ       sales   avgsal  scrap  rework  tothrs  union  grant  \
fcode  year
410032 1987   100.0  47000000.0  35000.0    NaN     NaN    12.0      0      0
       1988   131.0  43000000.0  37000.0    NaN     NaN     8.0      0      0
       1989   123.0  49000000.0  39000.0    NaN     NaN     8.0      0      0
410440 1987    12.0   1560000.0  10500.0    NaN     NaN    12.0      0      0
       1988    13.0   1970000.0  11000.0    NaN     NaN    12.0      0      0

             d89  d88  ...  cgrant  clemploy   clsales    lavgsal  clavgsal  \
fcode  year            ...
410032 1987    0    0  ...       0       NaN       NaN  10.463100       NaN
       1988    0    1  ...       0  0.270027 -0.088949  10.518670  0.055570
       1989    1    0  ...       0 -0.063013  0.130621  10.571320  0.052644
410440 1987    0    0  ...       0       NaN       NaN   9.259130       NaN
       1988    0    1  ...       0  0.080043  0.233347   9.305651  0.046520

             cgrant_1   chrsemp  clhrsemp  year_str  year_cat
fcode  year
410032 1987       NaN       NaN       NaN      1987      1987
       1988       0.0 -8.946565 -1.165385      1988      1988
       1989       0.0  0.198597  0.047832      1989      1989
410440 1987       NaN       NaN       NaN      1987      1987
       1988       0.0  0.000000  0.000000      1988      1988

[5 rows x 30 columns]

In [19]:
from linearmodels import PanelOLS

print("Exogenous variables")
print(mi_data[["hrsemp", "year_str"]].head())
print(mi_data[["hrsemp", "year_str"]].dtypes)
res = PanelOLS(mi_data[["lscrap"]], mi_data[["hrsemp", "year_str"]], entity_effects=True).fit()
print(res)

Exogenous variables
                hrsemp year_str
fcode  year
410032 1987  12.000000     1987
       1988   3.053435     1988
       1989   3.252033     1989
410440 1987  12.000000     1987
       1988  12.000000     1988
hrsemp      float64
year_str     object
dtype: object
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 lscrap   R-squared:                        0.1985
Estimator:                   PanelOLS   R-squared (Between):             -0.1240
No. Observations:                 140   R-squared (Within):               0.1985
Date:                Fri, May 03 2024   R-squared (Overall):             -0.0934
Time:                        18:08:44   Log-likelihood                   -78.765
Cov. Estimator:            Unadjusted
                                        F-statistic:                      7.3496
Entities:                          48   P-value                           0.0002
Avg Obs:                       2.9167   Distribution:                    F(3,89)
Min Obs:                       1.0000
Max Obs:                       3.0000   F-statistic (robust):             7.3496
                                        P-value                           0.0002
Time periods:                       3   Distribution:                    F(3,89)
Avg Obs:                       46.667
Min Obs:                       46.000
Max Obs:                       48.000

                               Parameter Estimates
=================================================================================
               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------
hrsemp           -0.0024     0.0024    -1.0058     0.3172     -0.0071      0.0023
year_str.1988    -0.1591     0.1146    -1.3888     0.1684     -0.3868      0.0685
year_str.1989    -0.4620     0.1176    -3.9297     0.0002     -0.6957     -0.2284
=================================================================================

F-test for Poolability: 19.649
P-value: 0.0000
Distribution: F(47,89)

Included effects: Entity

e:\Eco-stats\eco-stats\.venv\lib\site-packages\linearmodels\panel\model.py:1219: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)

In [18]:
print("Exogenous variables")
print(mi_data[["hrsemp", "year_cat"]].head())
print(mi_data[["hrsemp", "year_cat"]].dtypes)
res = PanelOLS(mi_data[["lscrap"]], mi_data[["hrsemp", "year_cat"]], entity_effects=True).fit()
print(res)

Exogenous variables
                hrsemp year_cat
fcode  year
410032 1987  12.000000     1987
       1988   3.053435     1988
       1989   3.252033     1989
410440 1987  12.000000     1987
       1988  12.000000     1988
hrsemp       float64
year_cat    category
dtype: object
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 lscrap   R-squared:                        0.1985
Estimator:                   PanelOLS   R-squared (Between):             -0.1240
No. Observations:                 140   R-squared (Within):               0.1985
Date:                Fri, May 03 2024   R-squared (Overall):             -0.0934
Time:                        15:48:18   Log-likelihood                   -78.765
Cov. Estimator:            Unadjusted
                                        F-statistic:                      7.3496
Entities:                          48   P-value                           0.0002
Avg Obs:                       2.9167   Distribution:                    F(3,89)
Min Obs:                       1.0000
Max Obs:                       3.0000   F-statistic (robust):             7.3496
                                        P-value                           0.0002
Time periods:                       3   Distribution:                    F(3,89)
Avg Obs:                       46.667
Min Obs:                       46.000
Max Obs:                       48.000

                               Parameter Estimates
=================================================================================
               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------
hrsemp           -0.0024     0.0024    -1.0058     0.3172     -0.0071      0.0023
year_cat.1988    -0.1591     0.1146    -1.3888     0.1684     -0.3868      0.0685
year_cat.1989    -0.4620     0.1176    -3.9297     0.0002     -0.6957     -0.2284
=================================================================================

F-test for Poolability: 19.649
P-value: 0.0000
Distribution: F(47,89)

Included effects: Entity

e:\Eco-stats\eco-stats\.venv\lib\site-packages\linearmodels\panel\model.py:1219: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)