# 4 一元线性回归

## 4.1 一元线性回归模型

### 明瑟方程

$\ln w = \alpha + \beta s + \epsilon$

1. 导入所需的库
2. 读取数据->grilic.dta
3. 动机与模型
4.

In [2]:
import pandas as pd
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:


grilic = pd.read_stata('../2_Data/Data-2e/grilic.dta')
grilic.head()

   rns  mrt  smsa  med   iq  kww  age   s   expr  tenure    lnw
0    0    0     1    8   93   35   19  12  0.462       0  5.900
1    0    0     1   14  119   41   23  16  0.000       2  5.438
2    0    0     1   14  108   46   20  14  0.423       1  5.710
3    0    0     1   12   96   32   18  12  0.333       1  5.481
4    0    1     1    6   74   27   26   9  9.013       3  5.927

In [11]:
# 数据集中有很多字段（变量，列的名称），我们只需要对lnw和s进行分析。
grilic[['s','lnw']].head(10)

    s    lnw
0  12  5.900
1  16  5.438
2  14  5.710
3  12  5.481
4   9  5.927
5   9  4.804
6  18  6.512
7  15  5.808
8  12  5.737
9  18  6.382

In [12]:
# 3. 动机与模型
# 动机：研究教育投资的回报率问题。
# 模型：明瑟方程

# 
# 一元线性回归模型只需要用到‘lnw’和‘s’两个字段

X=grilic['s']
y=grilic['lnw']
X=sm.add_constant(X)


model = sm.OLS(y,X)
grilic_ols = model.fit()


print(grilic_ols.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    lnw   R-squared:                       0.253
Model:                            OLS   Adj. R-squared:                  0.252
Method:                 Least Squares   F-statistic:                     255.7
Date:                Fri, 29 Mar 2024   Prob (F-statistic):           8.52e-50
Time:                        18:33:12   Log-Likelihood:                -323.05
No. Observations:                 758   AIC:                             650.1
Df Residuals:                     756   BIC:                             659.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.3915      0.082     53.481      0.000       4.230       4.553
s              0.0966      0.006     15.991      0.000       0.085       0.108
==============================================================================
Omnibus:                        1.749   Durbin-Watson:                   1.733
Prob(Omnibus):                  0.417   Jarque-Bera (JB):                1.697
Skew:                           0.021   Prob(JB):                        0.428
Kurtosis:                       3.228   Cond. No.                         83.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [13]:
residuals = grilic_ols.resid
sm.graphics.residuals_plot(residuals)
plt.show()
# 对上面的回归结果进行绘图

sns.regplot(x="s", y="lnw", 
            data=grilic, 
            ci=None, 
            scatter_kws={"alpha": 0.5})

AttributeError: module 'statsmodels.graphics.api' has no attribute 'residuals_plot'

In [3]:
sm.webdoc()